<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <h1>Captain</h1>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Space Rank</th>
              <th>Homeplanet</th>
            </tr>
          </thead>
          <tbody>
            <% if (locals.captain) { %>
            <% locals.captain.forEach(function(captain) { %>
            <tr>
              <td><%= captain[0] %></td>
              <td><%= captain[1] %></td>
              <td><%= captain[2] %></td>
              <td><%= captain[3] %></td>
              <td><%= captain[4] %></td>
            </tr>
            <% }) %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>