<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <h1>Cargo</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Weight</th>
                            <th>Cargo Type</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Ship ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (locals.cargo) { %>
                            <% locals.cargo.forEach(function(cargo) { %>
                                <% var currentDate = new Date(); %>
                                <% var departureDate = new Date(cargo[3]); %>
                                <% var arrivalDate = new Date(cargo[4]); %>
                                <% if (departureDate <= currentDate && arrivalDate > currentDate) { %>
                                    <tr>
                                        <td><%= cargo[0] %></td>
                                        <td><%= cargo[1] %></td>
                                        <td><%= cargo[2] %></td>
                                        <td><%= cargo[3] %></td>
                                        <td><%= cargo[4] %></td>
                                        <td><%= cargo[5] %></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <th>
        <a href="/cargo/add" class="btn btn-primary">Add Cargo</a>
      </th>
      <th>
        <a href="/cargo/update" class="btn btn-primary">Update Cargo</a>
      </th>
      <th>
        <a href="/cargo/delete" class="btn btn-primary">Delete Cargo</a>
      </th>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>